#app {
    overflow: hidden;
}
.header {
    background-color: transparent;
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 1;
}
.navbar {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
}
.logo_link {
    line-height: 64px;
}
.logo_img {
    width: 100%;
}
.nav_list { 
    display: flex;
    line-height: 64px;
}
.nav_item {
    padding: 0 35px;
}
.nav_item:last-child:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
} 
.nav_item-white {
    background-color: var(--white);
    border-radius: 50px;
}
.nav_item-white .nav_item-link {
    color: var(--graphic-design-text);
    font-size: 21px;
}
.nav_item-link {
    color: var(--white);
    text-decoration: none;
}
.container {
    
}
.first_content {
    height: 800px;
    width: 100%;
}
.first_content-content {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.first_content-title {
    font-size: 100px;
    color: var(--white);
    font-weight: 600;
}
.first_content-arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 105px;
}
.arrow-down-icon {

}

.second_content {
    width: 100%;
}
.second_content-item {

}
.second_content-info {
    padding: 135px;
}
.second_content-info-heading {
    font-size: 40px;
    margin-bottom: 50px;
    padding-right: 50px;
}
.second_content-info-desc {
    margin-bottom: 50px;
    line-height: 1.6;
    color: var(--dark-grayish-blue);
}
.second_content-info-more {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: var(--photo-text);
    padding-left: 20px;
}


.member {
    padding: 150px 0;
}
.member-heading {
    text-align: center;
    letter-spacing: 3px;
    color: var(--very-dark-grayish-blue);
}
.member-list {
    padding-top: 100px;
}
.member-item {
    text-align: center;
}
.member-item-avatar {

}
.member-item-avatar-img {
    border-radius: 50%;
    width: 20%;
}
.member-item-desc {
    margin: 40px 0 50px;
    padding: 0 20px;
    line-height: 1.6;
    color: var(--dark-grayish-blue);
}
.member-item-private {
    line-height: 1.6;
}
.member-item-private-name {
    font-size: 20px;
}
.member-item-private-role {
    color: var(--dark-grayish-blue);
    font-weight: 600;
}

.footer {
    background-color: var(--footer);
    padding: 100px 0;
}
.images {
    
}
.image-item {
    height: 500px;
}
.footer-logo {
    margin: 0 auto;
}
.footer-list {
    display: flex;
    margin: 70px auto 100px;
}
.footer-item {
    padding: 0 30px;
}
.footer-item-link {
    text-decoration: none;
    color: var(--white);
}
.footer-social {
    display: flex;
    margin: 0 auto;
}
.footer-social-item {
    padding: 0 20px;
}
.footer-social-item-link {

}